[Desktop Entry]
Name=TeVLESS
Comment=Unofficial Telegram client with VLESS routing
TryExec=tevless
Exec=tevless -- %U
Icon=io.github.gustafsonhelga1980_bit.tevless
Terminal=false
StartupWMClass=TeVLESS
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tevless;vless;telegram;tg;chat;im;messaging;messenger;sms;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=tevless -quit
Name=Quit TeVLESS
Icon=application-exit
